DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=

DOCS_API_URL=http://localhost:4000

PLATFORM_ROOT_DOMAIN=blode.md
PLATFORM_ASSET_PREFIX=
PREFER_CUSTOM_DOMAIN=false
REDIRECT_PRIMARY_DOMAIN=false
EDGE_CONFIG=
VERCEL_TOKEN=
VERCEL_EDGE_CONFIG_ID=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
VERCEL_TEAM_SLUG=
VERCEL_AUTO_WWW_REDIRECT=false
ADMIN_API_TOKEN=
BLOB_READ_WRITE_TOKEN=
